<div class="ui-g">
  <div class="ui-g-6">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>ID</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dongels of data">
          <td>{{dongels.name}}</td>
          <td>{{dongels.ID}}</td>
        </tr>
      </tbody>
    </table>
    </div>
    <div class="ui-g-6">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>ID</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
      </div>

</div>
