/*img {*/
    /*display: block;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*width: 50%;*/
/*}*/
.legends {
  border: 1px solid black;
}
agm-map {
  position: relative;
  overflow: hidden;
  height: 600px;
}
.custombar2 .ui-scrollpanel-wrapper {
  border-right: 9px solid #757575;
  border-bottom: 9px solid #757575;
}

.custombar2 .ui-scrollpanel-bar {
  background-color: #68C77D;
  border-radius: 0;
  opacity: 1;
  transition: background-color .3s;
}

.custombar2:hover .ui-scrollpanel-bar {
  background-color: #46A55A;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.custom-class > .modal-dialog {
    max-width: 1790px !important;
    min-width: 1200px !important;
    width: 100% !important;
}
.ui-slider {
  position: fixed;
  left: 50px;
}
agm-marker {
  width: 100px;
}

